{{>header}}

  <div class="script-header">
    <h1>{{title}}</h1>
    <a href="docs.html#accordion">Documentation</a>
  </div>

  <div>
    <h2>Toggle 1 at a time</h2>

    <ul id="acc1" class="accordion acc-ex">
    {{#items}}
      <li id="acc1-{{@index}}" {{#if @first}} class="accordion-open-content"{{/if}} >
        <a class="accordion-toggle" href="#">{{this.toggle}}</a>
        <div class="accordion-content">
          <p>{{this.content}}</p>
          {{#if @first}}
            <p>
              <a href="#acc1-1">second tab</a> | 
              {{!-- <a href="#acc2-1">accordion 2 second tab</a> --}}
            </p>
          {{/if}}
          {{#if @last}}<p><a href="#acc1-0">first tab</a></p>{{/if}}
        </div>
      </li>
    {{/items}}
    </ul>

    <button class="destroy-button" id="destroyAcc">Destory</button>
  </div>

  <div style="margin-top:20px">    
    <h2>Toogle multiple at a time</h2>
    
    <ul class="accordion acc-ex" data-accordion="multiple">
    {{#items}}
      <li id="acc2-{{@index}}"{{#if @last}} class="accordion-open-content"{{/if}}>
        <a class="accordion-toggle" href="#">{{this.toggle}}</a>
        <div class="accordion-content">
          <p>{{this.content}}</p>
        </div>
      </li>
    {{/items}}
    </ul> 
  </div>

  <div style="margin-top:50em"></div>

{{#> footer}}
  <script>
    var accordion = new ML.Accordion(ML.El.$('acc1'), false);
    accordion.init();

    ML.El.evt(ML.El.$('destroyAcc'), 'click', function(e) {
      accordion.destroy();
    });
  </script>
{{/footer}}
