{{>header}}

  <form id="random" method="" action="">
    <strong>Radios with same "name" attribute</strong><br />

  {{#radiosSameName}}
    <input type="radio" id="{{this}}" name="sex" value="{{this}}" />
    <label for="{{this}}">{{this}}</label>
    <div style="height:5px;clear:both;"></div>
  {{/radiosSameName}}

    <div style="height:10px;clear:both;"></div>

    <strong>Radios with different "name" attributes</strong><br />

  {{#radiosDiffName}}
    <input type="radio" id="{{this.value}}" name="{{this.name}}" value="{{this.value}}" />
    <label for="{{this.value}}">{{this.value}}</label>
    <div style="height:5px;clear:both;"></div>
  {{/radiosDiffName}}

    <div style="height:10px;clear:both;"></div>

  {{#checkboxes}}
    <input type="checkbox" name="age" id="{{this.value}}" value="{{this.value}}" />
    <label for="{{this.value}}">{{this.label}}</label>
    <div style="height:2px;clear:both;"></div>
  {{/checkboxes}}

    <div style="height:10px;clear:both;"></div>

    <input type="checkbox" name="age" id="dis1" disabled="disabled" value="dis1" />
    <label for="dis1">Disabled</label>
    <div style="height:2px;clear:both;"></div>
    <input type="radio" name="age" id="dis2" disabled="disabled" value="dis2" />
    <label for="dis2">Disabled</label>
    <div style="height:2px;clear:both;"></div>
    <input type="radio" class="system" name="unstyled" id="unstyled" value="unstyled" />
    <label for="unstyled">Unstyled</label>    
  

    <div style="height:10px;clear:both;"></div>
    <button type="submit">submit</button>
  </form>

  <div class="fixer" style="height:20px;"></div>

  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li>You can style when the input is focused by styling <code>.focus</code> placed on the input.</li>
      <li><code>.checked</code> class name is added to custom input.</li>
    </ul>
  </div>

{{>footer}}