{{>header}}

  <div class="script-header">
    <h1>{{title}}</h1>
    <a href="docs.html#overlays-modals">Documentation</a>
  </div>

  <h2>Examples:</h2>
  <ul class="list">
  {{#examples}}
    <li>
      <a href="#" rel="{{this.rel}}" data-modal="{{this.modal}}">{{this.title}}</a>
      <span> &ndash; {{this.description}}</span>
    </li>
  {{/examples}}
    {{!-- <li><a href="files/ajax-overlay.html" data-modal="width:600:height:150" rel="ajax">Modal (Settings Applied, aJax)</a> - Same settings as above, but the modal is created by the JS. The content is Ajax'ed in.</li> --}}
    {{!-- <li><a id="invokeModal" rel="unique-id3" href="javascript:void(0);">Invoke Modal Manually</a> - Usage shown in the code.</li> --}}
  </ul>

{{#> footer}}
  <script>
    var modals = new ML.Modal();
    modals.init();
  </script>

  <div class="modal" id="unique-id3">
    <div class="modal-header">
      <h2 class="modal-header-title">Modal header</h2>
      <a href="#" class="modal-close">&times;</a>
    </div>

    <div class="modal-content">
      <h3>Test header</h3>
      <p>Some test content. asdfasd fasdf asdfasdf asdfa sdfasd fasdfasdfasdf</p>
      <a href="#" id="testLink">link</a>
    </div>
  </div>
{{/footer}}
