{{>header}}

  <div class="script-header">
    <h1>{{title}}</h1>
    <a href="docs.html#overlays-modals">Documentation</a>
  </div>

  <h2>Examples:</h2>
  <ul class="list">
  {{#examples}}
    <li>
      <a href="#" rel="{{this.rel}}" data-modal="{{this.modal}}">{{this.title}}</a>
      <span> &ndash; {{this.description}}</span>
    </li>
  {{/examples}}
  </ul>

  <div class="modal" id="unique-id3">
    <div class="modal-header">
      <h2 class="modal-header-title">Modal header</h2>
      <a href="#" class="modal-close">&times;</a>
    </div>

    <div class="modal-content">
      <h3>Test header</h3>
      <p>Some test content. asdfasd fasdf asdfasdf asdfa sdfasd fasdfasdfasdf</p>
      <a href="#" id="testLink">link</a>
    </div>
  </div>

  <div class="modal" id="unique-id4">
    <div class="modal-header">
      <h2 class="modal-header-title">I am a Modal header</h2>
      <a href="#" class="modal-close">CLOSE</a>
    </div>

    <div class="modal-content">
      <p>Im a modal.</p>
      <ul>
        <li>list item</li>
        <li>list item 2</li>
      </ul>
    </div>
  </div>

  <div class="modal" id="unique-id2">
    <div class="modal-header">
      <h2 class="modal-header-title">Hello! Im a header :)</h2>
      <a href="#" class="modal-close">CLOSE &times;</a>
    </div>

    <div class="modal-content">
      <img style="max-width:200px;" src="images/carousel-imgs/eagle.jpg" alt="">
    </div>
  </div>

  <div class="fixer" style="height:20px;"></div>

  <div class="notes">
    <h3>Notes</h3>
    <ul>
      <li>Centering modal via CSS transforms</li>
      <li><code>smart</code> removed, can accomplish with <code>max-width</code> and media queries.</li>
    </ul>
  </div>

{{#> footer}}
  <script>
    var modals = new ML.Modal();
    modals.init();

    document.addEventListener('modal.opened', function(event) {
      console.log('Modal is opened')
      console.log(event.detail.modal);
    });
  </script>
{{/footer}}
