{{>header}}

  <div class="script-header">
    <h1>{{title}}</h1>
    <a href="docs.html#overlays-tooltips">Documentation</a>
  </div>
    
  <h2>Examples:</h2>
  <ul class="list">
  {{#examples}}
    <li>
      <a href="#" rel="{{this.rel}}" data-tooltip="{{this.tooltip}}"{{#if this.titleAttr}} title="{{this.titleAttr}}"{{/if}}>
        {{this.title}}
      </a>
      <span> &ndash; {{{this.description}}}</span>
    </li>
  {{/examples}}
    {{!-- <li><a id="invokeTooltip" rel="unique-id1" href="javascript:void(0);">Invoke Tooltip Manually</a> - Usage shown in the code.</li> --}}
  </ul>

{{#> footer}}
  <script>
    var tooltips = new ML.Tooltip();
    tooltips.init();
  </script>

  <div class="tooltip" id="unique-id1">
    <div class="tooltip-content">
      <h1 class="tight">Hello! I am a tooltip</h1>
      <p class="tight">Im some text about the tooltip.</p>
    </div>
  </div>
{{/footer}}