{{>header}}

  <h2>Examples:</h2>
  <ul class="list">
  {{#examples}}
    <li>
      <a href="#" rel="{{this.rel}}" data-tooltip="{{this.tooltip}}"{{#if this.titleAttr}} title="{{this.titleAttr}}"{{/if}}>
        {{this.title}}
      </a>
      <span> &ndash; {{{this.description}}}</span>
    </li>
  {{/examples}}
    <li><a data-tooltip title="Hello I was created." href="#">Dynamic Tooltip</a> - Usage shown in the code.</li>
  </ul>

  <div class="tooltip" id="unique-id1">
    <div class="tooltip-content">
      <h1 class="tight">Hello! I am a tooltip</h1>
      <p class="tight">Im some text about the tooltip.</p>
    </div>
  </div>

{{#> footer}}
  <script>
    var tooltips = new ML.Tooltip();
    tooltips.init();

    document.addEventListener('tooltip.opened', function(event) {
      console.log('tooltip is opened')
      console.log(event.detail);
    });
  </script>
{{/footer}}