{{>header}}
    
  <h2>Examples:</h2>
  <ul class="list">
  {{#examples}}
    <li>
      <a href="#" rel="{{this.rel}}" data-tooltip="{{this.tooltip}}"{{#if this.titleAttr}} title="{{this.titleAttr}}"{{/if}}>
        {{this.title}}
      </a>
      <span> &ndash; {{{this.description}}}</span>
    </li>
  {{/examples}}
    <li><a data-tooltip="width:180" title="Hello I was created." href="#">Dynamic Tooltip</a> - Usage shown in the code.</li>
  </ul>

  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li><code>smart: true</code>, detects collision with window and will change width and/or alignment.</li>
      <li>A <code>delay</code> option is available, which delays hiding the tooltip when mouse out event is fired.<br>
      You can also specify the delay time in ms.</li>
      <li>Only mouseover and mouseout are supported events for showing and hidding the tooltip.</li>
    </ul>
  </div>

  <div class="tooltip" id="unique-id1">
    <div class="tooltip-content">
      <h1 class="tight">Hello! I am a tooltip</h1>
      <p class="tight">Im some text about the tooltip.</p>
    </div>
  </div>

{{#> footer}}
  <script>
    var tooltips = new ML.Tooltip();
    tooltips.init();
  </script>
{{/footer}}